*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html {
    scroll-behavior: smooth; /*hace el scroll suavizado*/
}

body{
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    scroll-behavior: smooth;
    min-height: 100vh;
}

ul, ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
    display: block;
}

p a {
    display: inline;
}

img, video, iframe, picture, figure {
    max-width: 100%;
    display: block;
}

form, input, select, textarea, button, label {
    color: inherit;  /*INHERIT -> lo herada del padre*/
    font-family: inherit; 
    font-size: inherit;
    display: block;
}